
/* Algunas migajas de estilo. */
body {
  margin: 0px auto;
  max-width: 800px;

  color: #333;
  font-family: 'Helvetica', 'Droid Sans', 'Arial', sans-serif;
}

/* Para tener mejores bordes. */
rect {
  shape-rendering: crispEdges;
}
