
/* Algunas migajas de estilo. */
body {
  margin: 0px auto;
  max-width: 800px;

  color: #333;
  font-family: 'Helvetica', 'Droid Sans', 'Arial', sans-serif;
}

/* Para tener mejores bordes. */
rect {
  shape-rendering: crispEdges;
}

/* Para el mapa: 'snippet05'. */
path {
  fill-opacity: 0.8;
  stroke: #343;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path:hover {
  fill-opacity: 0.6;
}
